<div class="profile-sidebar" id="profileSidebar">
  <span class="close-btn" id="closeProfile">&times;</span>

  <h3 class="profile-title">My Account</h3>

  <a href="/my-profile" class="profile-item">
    <ion-icon name="person-circle-outline"></ion-icon>
    My Profile
  </a>

  <a href="/my-orders" class="profile-item">
    <ion-icon name="receipt-outline"></ion-icon>
    My Orders
  </a>

  <a href="/my-wishlist" class="profile-item">
    <ion-icon name="heart-outline"></ion-icon>
    My Wishlist
  </a>

  <a href="/api/addresses" class="profile-item">
    <ion-icon name="location-outline"></ion-icon>
    Saved Addresses
  </a>

  <p class="profile-item">
    <ion-icon name="card-outline"></ion-icon>
    Payments
  </p>

  <p class="profile-item">
    <ion-icon name="pricetag-outline"></ion-icon>
    My Coupons
  </p>

  <p class="profile-item">
    <ion-icon name="notifications-outline"></ion-icon>
    Notifications
  </p>

  <p class="profile-item">
    <ion-icon name="settings-outline"></ion-icon>
    Account Settings
  </p>

  <hr class="profile-divider" />

  <a href="/admin"  class="profile-item logout" >
    <ion-icon name="shield-checkmark-outline"></ion-icon>
    Admin
  </a>

  <p class="profile-item logout">
    <ion-icon name="log-out-outline"></ion-icon>
    Logout
  </p>
</div>
